<div class="container">
  <br>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home" (click)="getPolicies()">All Policies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1" (click)="getPolicies()">My Policies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">New Policy</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="home" class="container tab-pane active">
      <div class='table-responsive'>
        <table class='table table-hover'>
          <thead>
            <tr>
              <th [ngStyle]="{'color': color}">Policy_ID</th>
              <th [ngStyle]="{'color': color}">Policy_Name</th>
              <th [ngStyle]="{'color': color}">Policy_Plan(yearly)</th>
            </tr>
          </thead>
          <tbody>
            <!--*ngFor Directive - Looping through the policies-->
            <!--policies is the array holding all the polcies accessed from the PolicyService-->
            <tr *ngFor="let policy of policies;">
              <td>{{policy.policyID}}</td>
              <td>{{policy.policyname}}</td>
              <td>{{policy.policyrate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="menu1" class="container tab-pane fade">
      <div id="home" class="container tab-pane active">
        <div class='table-responsive'>
          <table class='table table-hover'>
            <thead>
              <tr>
                <th [ngStyle]="{'color': color}">Policy_ID</th>
                <th [ngStyle]="{'color': color}">Policy_Name</th>
                <th [ngStyle]="{'color': color}">Policy_Plan(yearly)</th>
              </tr>
            </thead>
            <tbody>
              <!--*ngFor Directive - Looping through the policies-->
              <!--policies is the array holding all the polcies accessed from the PolicyService-->
              <tr *ngFor="let policy of policies;">
                <td>{{policy.policyID}}</td>
                <td>{{policy.policyname}}</td>
                <td>{{policy.policyrate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="menu2" class="container tab-pane fade">
      <div id="home" class="container tab-pane active">
        <app-new-policy></app-new-policy>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>